# {{ ansible_managed }}

[dell-system-update_independent]
name=dell-system-update_independent
baseurl=http://linux.dell.com/repo/hardware/dsu/os_independent/
gpgcheck=1
gpgkey=http://linux.dell.com/repo/hardware/dsu/public.key
enabled=1
exclude=dell-system-update*.i386

[dell-system-update_dependent]
name=dell-system-update_dependent
mirrorlist=http://linux.dell.com/repo/hardware/dsu/mirrors.cgi?osname=el{{ ansible_distribution_major_version }}&basearch={{ ansible_architecture }}&native=1
gpgcheck=1
gpgkey=http://linux.dell.com/repo/hardware/dsu/public.key
enabled=1
